# Personal Git Configuration Template
# Copy this to ~/.gitconfig.secret and customize with your information

[user]
	name = Dustin Liddick
	email = your-email@example.com
	# signingkey = YOUR_GPG_KEY_ID

[github]
	user = dustin-liddick

# Uncomment if you want to sign commits with GPG
# [commit]
# 	gpgsign = true

# [gpg]
# 	program = gpg